{{ define "navigation" }}
  {{ partial "navigation" (dict "current" "albums") }}
{{ end }}

{{ define "content" }}

<h2><a href="/songs">Song</a>: {{ .Title }}</h2>

<table class="table table-striped table-bordered table-sm">
    <tr>
        <th>Name</th>
        <td>{{ .Title }}</td>
    </tr>
</table>

{{ .Content }}

<hr />
{{ $related := where (.Site.RegularPages.RelatedTo ( keyVals "songs" .Params.Songs)) "Type" "recordings" }}

{{ $recordingCount := len $related }}

<h3>{{ $recordingCount }} Recordings</h3>

{{ with $related }}
<ul>
{{ range . }}

<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
{{ end }}
</ul>
{{ end }}


{{ end }}


