{{ define "navigation" }}
  {{ partial "navigation" (dict "current" "albums") }}
{{ end }}

{{ define "content" }}

<h2><a href="/songs">Song</a>: {{ .Title }}</h2>

<table class="table table-striped table-bordered table-sm">
    <tr>
        <th>Name</th>
        <td>{{ .Title }}</td>
    </tr>
</table>

{{ .Content }}

<hr />
{{ $related := where (.Site.RegularPages.RelatedTo ( keyVals "songs" .Params.Songs)) "Type" "recordings" }}

{{ $recordingCount := len $related }}

<h3>{{ $recordingCount }} Recordings</h3>

{{ with $related }}
<table class="table table-bordered table-sm">
{{ range . }}
<tr>
  <td>
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </td>
  <td>{{ .Date.Format "2006-01-02" }}</td> 
  <td>

      {{ $mixes := where (.Site.RegularPages.RelatedIndices . "mixes") "Type" "mixes" }}
      {{ with $mixes }}
        {{ range first 1 (.ByParam "weight").Reverse }}

        {{ if .Params.vocals }}
        <span class="badge badge-primary badge-pill">Vocals</span>
        {{ end }}
        
        {{ end }} <!-- end range mixes -->
      {{ end }} <!-- end with mixes -->


  </td>
</tr>
{{ end }}
</table>
{{ end }}


{{ end }}


