<ul class="nav nav-pills nav-fill">         
    <li><a class="nav-link{{ if eq .current "home" }} active{{ end }}" href="/">Home</a></li>
    <li><a class="nav-link{{ if eq .current "days" }} active{{ end }}" href="/days">Days</a></li>
    <li><a class="nav-link{{ if eq .current "recordings" }} active{{ end }}" href="/recordings">Recordings</a></li>
    <li><a class="nav-link{{ if eq .current "songs" }} active{{ end }}" href="/songs">Songs</a></li>
    <li><a class="nav-link{{ if eq .current "sessions" }} active{{ end }}" href="/sessions">Sessions</a></li>
    <li><a class="nav-link{{ if eq .current "albums" }} active{{ end }}" href="/albums">Albums</a></li>
    <li><a class="nav-link{{ if eq .current "history" }} active{{ end }}" href="/history">History</a></li>    
</ul>
